.bitcount-grid-double-<uniquifier> {
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}


.header_banner {
    display: block;
    height: 200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: none;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.mode_button {
    background-color: #cdc460c8;
    color: rgb(0, 0, 0);
    font-family: "Bitcount Grid Double";
    height: 30px;
    width: 180px;
    border-radius: 20px;
    cursor: pointer;
    margin-inline: 1cm;
    font-size: 22px;
    transition: opacity 0.15s, background-color 0.1s
}

.mode_button:hover {
    opacity: 0.9;
}

.mode_button:active {
    opacity: 0.7;
}

.board_ttc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    gap: 1px;
    padding-top: 22px;
    justify-self: center;
    /* align-self: center; */
}

.cell {
    background-color: #2f2d1fc8;
    border: 2px;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 40px;
    font-weight: 500;
    font-family: "Bitcount Grid Double";
}

.cell:hover {
    opacity: 0.9;
}

.cell:disabled {
    opacity: 1;
    color: black;
    cursor: pointer;
}

.footer_button {
    display: flex;
    justify-content: center;
    margin: 22px;
}

.restart_button {
    background-color: #cdc460c8;
    color: rgb(0, 0, 0);
    font-family: "Bitcount Grid Double";
    height: 30px;
    width: 180px;
    border-radius: 20px;
    cursor: pointer;
    margin-inline: 1cm;
    font-size: 22px;
    transition: opacity 0.15s, background-color 0.1s
}

.restart_button:hover {
    opacity: 0.9;
}

.restart_button:active {
    opacity: 0.7;
}

.new_button {
    background-color: #cdc460c8;
    color: rgb(0, 0, 0);
    font-family: "Bitcount Grid Double";
    height: 30px;
    width: 180px;
    border-radius: 20px;
    cursor: pointer;
    margin-inline: 1cm;
    font-size: 22px;
    transition: opacity 0.15s, background-color 0.1s
}

.new_button:hover {
    opacity: 0.9;
}

.new_button:active {
    opacity: 0.7;
}

.msg_container {
    text-align: center;
    font-family: "Bitcount Grid Double";
    font-size: 32px;
    margin: 0%;
    margin-bottom: 0px;
}

#msg {
    margin: 0;
    margin-top: 12px;
    color: rgb(34, 92, 34);
}

.hide {
    display: none;
}

@media (max-width: 768px) {

    .header_banner {
        width: 400px;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .button_container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .mode_button {
        width: 60%;
        max-width: 250px;
        margin: 0;
        font-size: 20px;
        height: 30px;
    }

    .board_ttc {
        width: 90vw;
        max-width: 350px;
        height: 90vw;
        max-height: 350px;
    }

    .cell {
        font-size: 32px;
    }

    .footer_button {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .restart_button,
    .new_button {
        width: 85%;
        max-width: 250px;
        margin: 0;
        height: 45px;
    }

    .msg_container {
        font-size: 22px;
        padding: 10px;
    }
}